/* Add your custom css here */
html {
    font-family: 'Open Sans', sans-serif;;
    letter-spacing: 0.05rem;
    font-weight: 300;
}


body {
    @apply bg-gray-100;
}

p {
    @apply mb-3
}

.bg-blue-gradient {
    background: rgb(8,59,121);
    background: -moz-linear-gradient(132deg, rgba(8,59,121,1) 0%, rgba(0,39,76,1) 100%);
    background: -webkit-linear-gradient(132deg, rgba(8,59,121,1) 0%, rgba(0,39,76,1) 100%);
    background: linear-gradient(132deg, rgba(8,59,121,1) 0%, rgba(0,39,76,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#083b79",endColorstr="#00274c",GradientType=1);
}


.card {
    background: rgba(0,0,0, 0.2);
    transition: 1s;
}

.card:hover {
    background: rgba(0,0,0, 0.35);
}
.card-light {
    background: rgba(256,256,256, 0.1);
    transition: 1s;
}

.card-light:hover {
    background: rgba(256,256,256, 0.25);
}

.carousel-dots li  button::before {
    color: white !important ;
}

.carousel-dots {
    position: relative;
    bottom: 80px;
}