/* Base Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Helper classes */
.transition {
    transition: 1s;
}

.min-h-screen {
    min-height: 100vh;
}

/*  Font Styling */
body {
    @apply text-lg
}

h1 { 
    @apply text-5xl
}
h2 { 
    @apply text-4xl
}
h3 { 
    @apply text-3xl
}
h4 { 
    @apply text-2xl
}
h5 { 
    @apply text-xl
}
h6 { 
    @apply text-lg font-bold
}